.w-purchase-step{
	min-height:622px;
	margin-bottom: 10px;
	padding-top: 76px;

	text-align: center;
	&__title {
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
	}
	&__container{
		display: flex;
		justify-content: space-between;
		max-width: 1325px;
		margin: 0 auto;
		padding-top: 53px;
		padding-bottom: 30px;
	}
	&__item{
		&_arrow{
			min-height: 230px;
			line-height: 230px;
		}
		img{
			max-width: 100%;
		}
		&_mirror img{
			line-height:200px;
			transform: scale(1, -1);
		}
	}
	&__name{
		padding-top: 14px;

		color: #5ea83e;
		font-size: 27px;
		line-height: 30px;
	}
	@media (max-width: 992px) {
	   display: none;
  	}

}
