.w-top {
  position: relative;
  padding-top: 50px;
  text-align: center;
  color: #fff;
  background: #355946 url(../../../../web/img/top/top-bg.jpg) no-repeat center center /cover;
  &__h {
    position: relative;
    z-index: 2;
    margin-bottom: 3px;
    font: 700 90px/1 'Futuris', sans-serif;
    text-transform: uppercase;
    color: #a7dd8f;
  }
  &__p {
    position: relative;
    z-index: 2;
    font: 400 53px/1 'FuturaBookC', sans-serif;
  }
  &__action {
    position: relative;
    z-index: 2;
    display: block;
    width: 951px;
    margin: 44px auto 0;
    background: url(../../../../web/img/top/top__action.png) no-repeat top center/ 100% 100%;
    &-h {
      display: inline-block;
      padding: 21px 34px 18px;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      background: #ef1c3f;
    }
    &-p {
      display: block;
      margin: 299px 4px 0;
      padding: 35px 55px;
      font-size: 37px;
      font-weight: 700;
      background-color: rgba(0, 0, 0, 0.57);
    }
  }
  &__arrow {
    position: absolute;
    bottom: 190px;
    left: -141px;
    display: block;
    height: 707px;
    width: 147px;
    background: url(../../../../web/img/top/top__arrow.png) no-repeat 0 0;
  }
  &-timer {
    max-width: 966px;
    margin: 0 auto;
    &__wrapper {
      padding: 51px 0 39px;
      background: #6ab04b url(../../../../web/img/top/top-timer.jpg) no-repeat center center /cover;
    }
    &__btn {
      width: 100%;
      max-width: 423px;
      margin: 57px 0;
      text-align: left;
    }
    &__h {
      margin-bottom: 16px;
      font-size: 32px;
      font-weight: bold;
      text-transform: uppercase;
    }
    &__countdown {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
      align-content: stretch;
      margin: 0 21px;
      &-item {
        &-numb {
          position: relative;
          width: 79px;
          height: 103px;
          font: 300 53px/95px 'SegoeUI', sans-serif;
          text-align: center;
          vertical-align: middle;
          background: url(../../../../web/img/top/top-timer__countdown-item-numb.png) no-repeat 0 0 /contain;
          &:before {
            content: '';
            position: absolute;
            top: 50px;
            left: 1px;
            right: 2px;
            height: 4px;
            background-color: #000;
          }
        }
        &-text {
          margin-top: 9px;
          font-size: 12px;
          font-weight: bold;
          text-transform: uppercase;
          color: #000;
        }
      }
    }
  }
}
/*media*/
@media(max-width: 1439px) {
  .w-top{
    padding-top: 40px;
    &__h {
      font-size: 45px;
    }
    &__p {
      margin-top: 15px;
      font-size: 27px;
    }
    &__arrow{
      display: none;
    }
    &__action {
      width: 495px;
      height: 360px;
      margin: 34px auto 0;
      left: 14px;
      background: url(../../../../web/img/top/top__action_md.png) no-repeat top center /contain;
      &-h {
        padding: 18px 20px 12px;
        font-size: 19px;
      }
      &-p {
        margin: 114px 54px 0;
        padding: 20px 53px;
        font-size: 20px;
        line-height: 1.2;
      }
    }
  }
}
@media(max-width: 1199px) {
  .w-top-timer__h{
    margin-bottom: 13px;
    font-size: 23px;
  }
  .w-top-timer__wrapper{
    padding-top: 38px;
    padding-bottom: 35px;
  }
  .w-top-timer__btn {
    display: flex;
    justify-content: flex-end;
    margin: 45px 0;
    .button{
      display: inline-block;
      max-width: 297px;
      padding: 20px 10px 18px;
      font-size: 16px;
    }
  }
  .w-top-timer__countdown-item-numb {
    width: 58px;
    height: 76px;
    font-size: 39px;
    line-height: 76px;
  }
  .w-top-timer__countdown-item-text {
    margin-top: 5px;
    font-size: 10px;
  }
  .w-top-timer__countdown{
    margin: 0 auto;
    width: 231px;
  }
}
@media(max-width: 767px) {
  .w-top {
    padding-top: 25px;
  }
  .w-top__h {
    font-size: 37px;
  }
  .w-top__p {
    font-size: 23px;
  }
  .w-top__action {
    width: 296px;
    height: 255px;
    margin: 19px auto -37px;
    left: -5px;
  }
  .w-top__action-h {
    padding: 9px 19px 8px;
  }
  .w-top__action-p {
    margin: 80px 4px 0;
    padding: 11px 34px;
    font-size: 15px;
  }
  .w-top-timer__wrapper{
    position: relative;
    z-index: 2;
  }
  .w-top-timer__wrapper {
    padding-top: 28px;
    padding-bottom: 6px;
  }
  .w-top-timer__btn {
    margin: 23px 0;
  }
}
/*media*/