.w-about {
  position: relative;
  overflow: hidden;
  max-width: 1900px;
  margin: 0 auto;
  color: #fff;
  &__wrapper {
    margin: 10px 0;
    padding: 54px 0 0;
    background: #63ab43 url(../../../../web/img/about/about-bg.jpg) no-repeat center center /cover;
  }
  &__p {
    position: relative;
    z-index: 2;
    margin-bottom: 27px;
    font-size: 22px;
    line-height: 1.3;
  }
  .h2 {
    position: relative;
    z-index: 2;
    margin-bottom: 32px;
  }
  &__container {
    max-width: 850px;
  }
  .w-slider {
    position: relative;
    z-index: 2;
    margin: 49px 26px 0 6px;
    width: auto;
  }
  &__container-2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 58px;
    .h2{
      flex: 1 0 auto;
      margin-bottom: 0;
      padding-bottom: 32px;
    }
  }
  &-slider {
    position: relative;
    top: 61px;
    left: 71px;
    width: 723px;
    height: 478px;
    box-shadow: inset 0 0 10px #000;
    &__dots {
      position: relative;
      z-index: 2;
      margin: 163px 0 0;
      text-align: center;
      .owl-dot {
        display: inline-block;
        height: 21px;
        width: 21px;
        margin: 0 4px 5px;
        border-radius: 50%;
        background-color: #fff;
        transition: all .3s ease;
        &.active,
        &:hover {
          background-color: #ef1c3f;
        }
        &:active {
          box-shadow: inset 3px 3px 4px #000;
        }
      }
    }
    &__item {
      position: relative;
      display: block;
      width: 723px;
      height: 478px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: inset 0 0 20px #000;
      &:after {
        content: '';
        position: absolute;
        top: 92px;
        left: 0;
        right: 0;
        display: block;
        height: 175px;
        width: 100%;
        background: url(../../../../web/img/about/about-slider-arrow.png) no-repeat center top;
      }
      &-text {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 26px 15px 18px;
        line-height: 1.2;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.57);
        &-xl {
          display: block;
          font-size: 18px;
          font-weight: bold;
        }
        &-sm {
          display: block;
          font-size: 16.2px;
        }
      }
    }
    &__wrapper {
      position: relative;
      flex: 0 0 auto;
      height: 721px;
      &:after {
        content: '';
        position: absolute;
        top: -24px;
        left: -133px;
        width: 1016px;
        height: 745px;
        background: url(../../../../web/img/about/about-slider.png) no-repeat 0 0 /contain;
      }
    }
  }
}
/*media*/
@media(max-width: 1855px) {
  .w-about-slider__wrapper:after {
    top: 0;
    left: -74px;
    width: 780px;
  }
  .w-about-slider__wrapper:after,
  .w-about-slider__wrapper{
    height: 570px;
  }
  .w-about-slider {
    top: 65px;
    left: 82px;
  }
  .w-about-slider__item,
  .w-about-slider{
    width: 556px;
    height: 367px;
  }
  .w-about .w-slider{
    margin: 49px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  .w-about__container-2{
    justify-content: flex-end;
  }
  .w-about__container-2 .h2{
    flex: 0 0 auto;
  }
}
@media(max-width: 1599px) {
  .w-about__container{
    max-width: 100%;
    .h2{
      text-align: center;
    }
  }
  .w-about .w-slider{
    width: 70%;
    margin-top: 32px;
    margin-bottom: 63px;
  }
  .w-about-slider__wrapper{
    margin: auto;
    left: 0;
    height: 254px;
  }
  .w-about-slider__dots{
    position: absolute;
    top: -20px;
    left: 0;
    margin: 0;
    width: 100%;
  }
  .w-about__container-2 {
    position: absolute;
    top: auto;
    bottom: 0;
    right: 158px;
  }
  .w-about__container-2 .h2{
    font-size: 27px;
  }
  .w-about-slider__wrapper:after{
    top: 17px;
    left: -65px;
    width: 324px;
  }
  .w-about-slider__item, .w-about-slider {
    width: 231px;
    height: 153px;
  }
  .w-about-slider {
    top: 43px;
    left: 0;
  }
  .w-about-slider__item-text-sm {
    font-size: 9.2px;
  }
  .w-about-slider__item-text-xl{
    font-size: 10px;
  }
  .w-about-slider__item-text{
    padding: 15px 15px 10px;
  }
  .w-about-slider__item:after {
    top: 31px;
    height: 57px;
    background: url(../../../../web/img/about/about-slider-arrow.png) no-repeat center top /contain;
  }
}
@media(max-width: 1439px){
  .w-about .w-slider {
    width: 60%;
  }
}
@media(max-width: 1199px) {
  .w-about__wrapper{
    padding-top: 23px;
  }
  .w-about__p{
    margin-bottom: 0;
    font-size: 20px;
  }
  .w-about .h2 {
    margin-bottom: 12px;
  }
  .w-about .w-slider {
    width: 282px;
    margin: 30px 0 50px 51px;
  }
  .w-about .w-slider-item {
    height: 250px;
  }
  .w-about__container-2{
    right: 60px;
    margin: auto;
  }
  .w-about .w-about__container-2 .h2{
    margin-bottom: 0;
  }
}
@media(max-width: 767px) {
  .w-about .w-slider {
    width: 282px;
    margin: 28px auto 286px;
  }
  .w-about-slider__wrapper {
    height: 194px;
  }
  .w-about__container-2{
    right: 0px;
    margin: auto;
    left: 0;
  }
}