.link{ //behaviour opacity
  opacity: 1;
  transition: opacity .3s ease;
  &,
  &:hover,
  &:active,
  &:focus,
  &:visited,
  &.active {
    color: inherit;
    text-decoration: none;
  }
  &:hover {
    opacity: .9;
  }
  &_2{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}