.button {
  position: relative;
  display: inline-block;
  padding: 30px 10px 27px;
  border: 4px solid #fd2e67;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #ef1c3f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 0;
  transition: all .3s ease;
  &_sm {
    padding: 19px 24px 15px;
    font-size: 17px;
    letter-spacing: 0.7px;
  }
  &:hover {
    background-color: #fd2e67;
  }
  &:active {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.4);
  }
  &,
  &:hover,
  &:active,
  &:visited,
  &:focus {
    text-decoration: none;
    color: #fff;
  }
}
.button_green {
  position: relative;
  display: inline-block;
  padding: 46px 10px 40px;
  border: 4px solid #5ea83e;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #5ea83e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 0;
  transition: all .3s ease;
  &_sm {
    padding: 19px 24px 15px;
    font-size: 17px;
    letter-spacing: 0.7px;
  }
  &:hover {
    background-color: #67b844;
  }
  &:active {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.4);
  }
  &,
  &:hover,
  &:active,
  &:visited,
  &:focus {
    text-decoration: none;
    color: #fff;
  }
}
.arrow {
  position: relative;
  display: inline-block;
  height: 16px;
  width: 16px;
  border-left: 5px solid #97e774;
  border-bottom: 5px solid #97e774;
  &_to-left {
    margin-right: 11px;
    transform: rotate(45deg);
  }
  &_to-right {
    margin-left: 11px;
    transform: rotate(225deg);
  }
  &_down {
    top: -3px;
    margin-left: 11px;
    border-color: #fff;
    transform: rotate(-45deg);
  }
}