@import url(/../../web/fonts/fonts.css);
$successColor: #81c663;
$dangerColor: #ee1035;


html, body {
  position: relative;
  max-width: 2000px;
  margin: 0 auto;
  font-family: 'Futuris', sans-serif;
  color: #000;
}

.h2{
  margin-bottom: 2px;
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
}

.h3{
  margin-bottom: 31px;
  font-size: 27px;
  font-weight: 400;
  text-transform: uppercase;
  color: #97e774;
}

.w-ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.w-li{
  position: relative;
  margin-bottom: 13px;
  padding-left: 36px;
  font-size: 18px;
  &:before{
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 17px;
    height: 4px;
    background-color: #ef1b3e;
  }
}

.highlighting{
  color: $successColor!important;
}
::selection {
  color: #fff;
  background-color: $dangerColor;
}

.w{
  &-slider {
    flex: 0 0 auto;
    border: 6px solid #fff;
    background-color: #fff;
    &-item {
      height: 237px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .owl {
      &-nav {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
      }
      &-prev,
      &-next {
        position: absolute;
        height: 62px;
        width: 62px;
        top: 88px;
        font-size: 0;
        text-align: center;
        color: transparent;
        background-color: rgba(0, 0, 0, 0.57);
        &:before {
          content: '';
          position: relative;
          top: 22px;
          display: inline-block;
          height: 18px;
          width: 18px;
          border-left: 5px solid #fff;
          border-bottom: 5px solid #fff;
          transform: rotate(45deg);
        }
      }
      &-prev {
        left: 0;
      }
      &-next {
        right: 0;
        &:before {
          transform: rotate(225deg);
        }
      }
    }
  }
}

/*media*/
@media(max-width: 1855px) {
  .h2{
    font-size: 44px;
  }
}
@media(max-width: 1439px) {
  .h2 {
    font-size: 35px;
  }
}
@media(max-width: 1199px) {
  .h2 {
    font-size: 27px;
  }
  .h3{
    font-size: 23px;
  }
}
/*media*/