.navbar-toggler-icon{
  position: relative;
  display: inline-block;
  margin: 5px;
  &,
  &:before,
  &:after{
    height: 5px;
    width: 29px;
    background-color: #ef1b3e;
    box-shadow: inset 0 0 1px #000;
  }
  &:before,
  &:after{
    content:'';
    position: absolute;
    left: 0;
    right: 0;
  }
  &:before{
    top: -10px;
  }
  &:after{
    bottom: -10px;
  }
}