.w-ways {
  position: relative;
  max-width: 1900px;
  margin: 0 auto;
  color: #fff;
  &_2 {
    max-width: 1186px;
  }
  &__wrapper {
    margin: 10px 0;
    padding: 54px 0 100px;
    background: #131819 url(../../../../web/img/ways/ways-bg.jpg) no-repeat center center /cover;
    .h3 {
      margin: 53px 0 18px;
      font-size: 30px;
      background: transparent none;
    }
    .w-ul {
      margin-bottom: 36px;
    }
  }
  &__container {
    margin-left: 19%;
    display: flex;
    flex-direction: column;
    height: 100%;
    &-t {
      flex: 1 0 auto;
    }
    &-b {
      flex: 0 0 auto;
    }
  }
}
/*media*/
@media(max-width: 1439px) {
  .w-ways .h2 b {
    display: block;
  }
  .w-ways__container {
    margin-left: 0;
  }
}
@media(max-width: 1199px) {
  .w-ways__wrapper {
    padding: 28px 0 19px;
    .h3 {
      margin: 25px 0 11px 36px;
      font-size: 20px;
      background: transparent none;
    }
    .w-ul {
      margin-left: 35px;
      margin-bottom: 31px;
    }
    .w-li {
      line-height: 1.3;
      margin-bottom: 14px;
    }
    .w-ways__container-b {
      padding-left: 35px;
    }
  }
  .w-top-timer__countdown-item-numb:before {
    top: 37px;
    height: 2px;
  }
}
@media(max-width: 767px) {
  .w-ways__wrapper .h3,
  .w-ways__wrapper .w-ul {
    margin-left: 3px;
  }
  .w-ways__wrapper .w-ways__container-b {
    padding-left: 3px;
  }
  .w-ways__wrapper .w-ul {
    margin-bottom: 22px;
  }
}
/*media*/