@import '../../_variable.scss';
.w-footer{
	margin-bottom: 0;
	min-height: 224px;
	color: #fff;
	font-size: 20px;
	line-height: 26px;
	background: #0c1315;
	
	
	@media (max-width: $breakpoint-xl) {
		padding-top: 36px;
		font-size: 17px;
	}
	a{
		color: #5ca63d;
		text-decoration: underline;
	}
	&__column{

		min-height: 224px;
		display: flex;
		flex-direction: column;
		padding-top: 29px;
		justify-content: center;
		@media (max-width: $breakpoint-xl) {
			padding-top: 0px;
			display: block;
			min-height: 0;
			margin-bottom: 5px;
			text-align: center;
		}

		&_right{
			align-items: flex-end;
			font-size: 20px;
		}
		
	}
	&__text{
		max-width: 650px;
		@media (max-width: $breakpoint-xl) {
			margin: 0 auto;
		}
	}


}
.social-list{
	ul{
		padding-left: 117px;
		list-style: none;
		
		@media (max-width: $breakpoint-xl) {
			padding-left: 0px;
			text-align: center;
		}
	}
	&__item{
		height: 27px;
		display: inline-block;
		margin-left: 12px;
		&:first-child{
			margin-left: 0;
		}
	}
	&__link{
		height: 27px;
		width: 27px;
		display: inline-block;
		background-image: url("../../../../web/img/footer/social-sprite.png");
		&_vkontakte{
			width: 34px;
			background-position: -44px 0;
		}
		&_instagram{
			background-position: -99px 0;
			width: 27px;
		}
		&_facebook{
			width: 13px;
			background-position: -147px 0;
		}

	}
}