.w-survey{
  position: relative;
  margin: 0 auto;
  max-width: 1500px;
  text-align: center;
  color: #fff;
  &__wrapper{
    margin: 9px 0 10px;
    background: #3e4227 url(../../../../web/img/survey/survey-bg.jpg) no-repeat center center /cover;
  }
  &__link{
    position: relative;
    display: table;
    width: 100%;
    margin: 350px auto 348px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.57);
    &:before{
      content:'360\00B0';
      position: absolute;
      width: 317px;
      height: 116px;
      top: -139px;
      left: 0;
      right: 0;
      display: block;
      margin: auto;
      font-size: 37px;
      text-align: center;
      background: url(../../../../web/img/survey/w-survey__link-before.png) no-repeat center bottom;
    }
    &:after{
      content: '';
      position: absolute;
      width: 307px;
      height: 86px;
      bottom: -109px;
      left: 0;
      right: 0;
      display: block;
      margin: auto;
      background: url(../../../../web/img/survey/w-survey__link-after.png) no-repeat center top;
    }
    &-text,
    &-btn{
      display: table-cell;
      padding: 25px 15px 23px;
      text-align: center;
      vertical-align: middle;
    }
    &-text{
      font-size: 55px;
      letter-spacing: 3px;
    }
    &-btn{
      width: 338px;
      padding-top: 28px;
      .arrow_to-right{
        display: none;
      }
    }
  }
}
/*media*/
@media(max-width: 1439px) {
  .w-survey__link{
    display: block;
    margin: 0;
    text-align: center;
    background-color: transparent;
  }
  .w-survey__link:before,
  .w-survey__link:after{
    display: none;
  }
  .w-survey__link-text {
    display: block;
    margin: 0 -15px;
    padding: 25px 30px 30px;
    font-size: 23px;
    letter-spacing: 1px;
    background-color: rgba(0,0,0,0.57);
  }
  .w-survey__link-btn{
    display: inline-block;
    margin: 205px 0 45px;
    padding: 24px 10px 21px;
    font-size: 19px;
    .arrow_to-right{
      display: inline-block;
    }
    .arrow_to-left{
      display: none;
    }
  }
}
@media(max-width: 767px) {
  .w-survey__link-text{
    padding-bottom: 23px;
    b{
      display: block;
    }
  }
  .w-survey__link-btn {
    display: block;
    width: auto;
    max-width: 338px;
    margin: 289px -15px 0;
    padding: 28px 10px 21px;
    font-size: 21px;
  }
}
/*media*/