.w-advantages {
  position: relative;
  max-width: 1900px;
  margin: 0 auto;
  color: #fff;
  &__wrapper {
    margin: 10px 0;
    background: #903a21 url(../../../../web/img/advantages/advantages-bg.jpg) no-repeat center center /cover;
  }
  &__container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    font-size: 22px;
    line-height: 1.2;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.57);
  }
  &__col {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 102px;
    &_2 {
      margin-left: 102px;
      margin-right: 0;
    }
    .h2 {
      flex: 0 0 auto;
      margin: 0;
      padding: 71px 0 20px;
    }
  }
  &__p {
    margin-bottom: 32px;
  }
  &__text1 {
    padding: 28px 42px 24px;
    font-size: 19px;
    line-height: 1.42;
    text-transform: uppercase;
    color: #8ed470;
    background-color: #2c181c;
  }
  &__text2 {
    flex: 1 0 auto;
    padding: 40px 39px 11px 46px;
    line-height: 1.455;
  }
  &-feature {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    &__col {
      display: inline-block;
      margin: 0 6px;
    }
    &__wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: stretch;
      align-content: stretch;
      background-color: #5ea83e;
      padding: 36px 17px 38px;
    }
  }
  &-feature-2 {
    display: table;
    width: 100%;
    margin: 5px auto 8px;
    &__wrapper {
      padding: 29px 38px 25px;
    }
    &__img,
    &__span {
      display: table-cell;
      padding: 10px;
      vertical-align: middle;
    }
    &__img {
      width: 70px;
    }
  }
  &__h3{
    margin: 34px 0 29px;
    font-size: 37px;
    font-weight: bold;
    text-align: center;
  }
  &__btn{
    width: 100%;
    max-width: 654px;
    margin: 29px auto 72px;
    text-align: center;
  }
}
/*media*/
@media(max-width: 1855px) {
  .w-advantages__col{
    margin-right: 0;
  }
  .w-advantages__col_2{
    margin-left: 0;
  }
}
@media(max-width: 1599px) {
  .w-advantages .h2 b{
    display: block;
  }
  .w-advantages-feature__wrapper{
    flex-wrap: wrap;
    padding: 13px 43px;
  }
  .w-advantages-feature{
    position: relative;
    flex-basis: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: flex-start;
    .w-advantages-feature__col:first-child{
      position: absolute;
      left: 0;
      top: 0;
      padding: 0;
    }
    .w-advantages-feature__col:last-child{
      padding-left: 60px;
      padding-top: 11px;
      height: 47px;
    }
  }
}
@media(max-width: 1439px) {
  .w-advantages__col .h2 {
    padding: 27px 0 16px;
  }
  .w-advantages__text2 {
    padding: 19px 28px 11px;
    line-height: 1.48;
    font-size: 19px;
  }
  .w-advantages__p{
    margin-bottom: 0;
  }
  .w-advantages__text1 {
    padding: 23px 28px 19px;
    font-size: 16px;
    line-height: 1.52;
  }
  .w-advantages-feature__col {
    margin: 0;
    padding-left: 70px;
    padding-top: 12px;
    font-size: 19px;
  }
  .w-advantages-feature__wrapper {
    padding: 21px 16px;
  }
  .w-advantages-feature-2__wrapper {
    padding: 25px 14px 25px;
    font-size: 19px;
  }
  .w-advantages-feature-2__img {
    width: 76px;
  }
  .w-advantages-feature-2{
    margin-bottom: 12px;
  }
  .w-advantages__h3 {
    margin: 25px 0 47px;
    font-size: 26px;
  }
  .w-advantages__btn{
    margin-bottom: 44px;
  }
}
@media(max-width: 767px) {
  .w-advantages__text1 {
    padding: 22px 19px 19px 28px;
  }
  .w-advantages-feature{
    flex-basis: 100%;
  }
  .w-advantages-feature__wrapper {
    padding: 22px 40px;
  }
  .w-advantages-feature .w-advantages-feature__col:last-child {
    padding-left: 73px;
    padding-top: 11px;
    height: 47px;
    font-size: 22px;
  }
  .w-advantages-feature-2__img{
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
  }
  .w-advantages-feature-2{
    display: block;
    text-align: center;
  }
  .w-advantages-feature-2__span{
    display: block;
  }
  .w-advantages-feature-2 {
    margin-bottom: 19px;
  }
  .w-advantages-feature-2__wrapper{
    margin-bottom: 7px;
  }
  .w-advantages .w-slider .w-slider-item{
    height: 252px;
  }
  .w-advantages__h3 {
    margin: 25px 0 10px;
    font-size: 26px;
    line-height: 1;
  }
  .w-advantages__btn{
    margin-top: 22px;
    margin-bottom: 30px;
    .button{
      font-size: 12.6px;
      padding: 11px 2px 10px;
    }
  }
}
/*media*/