@import '../../_variable.scss';
.w-map{
	@media (max-width: $breakpoint-lg) {
	   display: none;
  	}
  	position: relative;

	min-height: 779px;
	margin-bottom: 10px;

	color: #fff;


	&__content{
		position: relative;
		z-index: 2;

		padding-top: 52px;
		min-height: 309px;

		background: rgba(0,0,0,0.57);


	}
	&__title{
		margin-bottom: 25px;

		text-align: center;
		color: #a7dd8f;

	}
	&__column{
		&_left{
			padding-top: 4px;
			font-size: 22px;
			line-height: 35px;
		}
	}
	&__buttons{
		position: absolute;
		left: 50%;
		z-index: 2;

		width: 650px;
		bottom: 77px;
		margin-left: -334px;

	}
	&__btn {
		width: 100%;
	}
}
#map{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;

	width: 100%;
	height: 100%;

}
