.w-map{position:relative;min-height:779px;margin-bottom:10px;color:#fff}@media (max-width: 992px){.w-map{display:none}}.w-map__content{position:relative;z-index:2;padding-top:52px;min-height:309px;background:rgba(0,0,0,0.57)}.w-map__title{margin-bottom:25px;text-align:center;color:#a7dd8f}.w-map__column_left{padding-top:4px;font-size:22px;line-height:35px}.w-map__buttons{position:absolute;left:50%;z-index:2;width:650px;bottom:77px;margin-left:-334px}.w-map__btn{width:100%}#map{position:absolute;left:0;top:0;z-index:1;width:100%;height:100%}
