@import '../../_variable.scss';
.w-credit{
	min-height: 906px;
	margin-bottom: 10px;
	padding-bottom: 41px;
	background-position: 100% 0;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	@media (min-width: 768px) and (max-width: $breakpoint-lg) {
		padding-right: 60px;
		padding-left: 60px;
	}
	@media (max-width: 767px) {
			margin-bottom: 0;
		}
	p{
		margin-top: 31px;
		@media (max-width: 767px) {
			margin-top: 0;

			font-size: 19px;
			line-height: 24px;

		}
	}
	&__header{
		position: relative;
		margin-bottom: 18px;
		@media (max-width: 767px) {
			margin-bottom: 0;

		}
	}
	&__logo{
		float: left;
		margin-right: 50px;
		@media (max-width: 767px) {
		   float: none;
		   margin: 0 auto;

		   text-align: center;
	  	}
	  	@media (min-width: 768px) and (max-width: $breakpoint-lg) {
	  		padding-top: 65px;
	  	}
	}
	&__sup-title{
		position: absolute;
		left: 50%;
		top: 0;


		width: 100%;
		max-width: 325px;
		height: 60px;
		margin-left: -171px;

		text-align: center;
		line-height: 55px;

		font-weight: bold;
		font-size: 20px;
		text-transform: uppercase;
		color: #000;
		letter-spacing: 2px;


		background: #fff;

		@media (max-width: 767px) {
			position: static;

			margin: 0 auto;
			max-width: 178px;
			height: 47px;
			margin-bottom: 20px;

			letter-spacing: 0;
			font-size: 14px;
			line-height: 47px;

	  	}
	  	@media (min-width: 768px) and (max-width: $breakpoint-lg) {
			left: 0px;

			max-width: 178px;
			margin-left: 0;
			height: 45px;

			line-height: 45px;
			letter-spacing: 0;
			font-size: 14px;

	  	}
	}
	&__title {
		h2{
			padding-top: 103px;
			@media (max-width: $breakpoint-lg) {
				padding-top: 30px;
			}
			@media (min-width: 768px) and (max-width: $breakpoint-lg) {
				text-align: right;
		  	}
		}
	}

	&__content {
		font-size: 22px;
		&-text{
			@media (min-width: 768px) and (max-width: $breakpoint-lg) {
				width: calc(100% - 208px);
				margin-left: auto;
				margin-top: -150px;
			}
		}
	}
	&__buttons-container{
		margin-top: 49px;
		@media (max-width: 767px) {
			margin-top: 42px;
		}
	}
	&__btn {
		width: 100%;
		max-width: 650px;
	}
	.md-center{
		@media (max-width: 767px) {
			text-align: center;
		}
	}
}