@import '../../_variable.scss';
.w-comparison-faq{
	position: relative;

	min-height: 700px;
	background-repeat: no-repeat;
	background-size: cover;
  	@media (max-width: 991px) {
		min-height: 655px;
	   	background-position: 50% 0;
  	}
  	.jspHorizontalBar{
  		display: none;
  	}
}

.faq{
	&__header{
		padding-top: 64px;
		padding-bottom: 16px;

		@media (max-width: 991px) {;
		   padding-top: 30px;
		   padding-bottom: 10px;
	  	}
	}
	&__title {
   
    text-transform: uppercase;
    color: #fff;
	}
	&__content{

		padding-left: 46px;
		padding-right: 26px;
		max-width: 802px;
		padding-top: 28px;
		padding-bottom: 30px;

		color: #fff;

		background: rgba(0,0,0, .57);
		@media (max-width: 991px) {
			padding: 0;
			background: none;
		}
	}
	&__container{
		padding-top: 15px;
		height: 435px;
		//overflow: auto;
		overflow-y: hidden;
		@media (max-width: 991px) {
		   height: auto;
			padding-top: 0;
	  	}
	}

}


.list-custom{
	padding-top: 3px;
	padding-left: 36px;
	padding-right: 5px;

	list-style: none;
	font-size: 18px;

	li{
		position: relative;

		margin-bottom: 10px;

		&:before{
			position: absolute;
			left: -35px;
			top: 12px;

			width: 15px;
			height: 5px;

			background: #ef1b3e;

			content: '';
		}
		@media (max-width: 767px) {
		   padding-top: 0;
		   margin-bottom: 20px;

		   line-height: 20px;

	  	}
	}
	&_accordion{

		padding-top: 18px;

		@media (max-width: 767px) {
		   padding-top: 4px;
	  	}
		li{
			cursor: pointer;
			@media (max-width: 767px) {
			   padding-top: 0;
			   margin-bottom: 20px;

			   line-height: 20px;

		  	}
		}
		.list-custom__description{
			display: none;
			padding-top: 8px;
			padding-bottom: 9px;

			font-size: 16px;
			line-height: 25px;
			font-weight: normal;

		}
		.active{
			font-weight: bold;
			&:before{
				background: #5ea83e;
			}
		}
	}
}


.comparison{
	color: #fff;

	&__header{
		position: relative;
		z-index: 2;
		@media (max-width: 991px) {
			padding-top: 30px;
	  	}
		padding-top: 64px;

	}
	&__title{
		margin-bottom: 0;
	}
	&__top-text{
		font-size: 25px;
		@media (max-width: $breakpoint-lg) {
			font-size: 20px;
	  	}
	}

	&-img{
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 0;

		@media (max-width: $breakpoint-xxl) and (min-width: $breakpoint-lg) {
		  width: 344px;
	  	}
	  	@media (max-width: $breakpoint-lg) {
		  width: 300px;
	  	}
	  	@media (max-width: 767px) {
		   display: none;
	  	}
	  	img{
	  		max-width: 100%;
	  	}
	}
	&__content{
		position: relative;
		z-index: 2;
	}
	&__list{
		padding-top: 47px;
		padding-left: 51px;

		list-style: none;
		&-item{
			position: relative;

			min-height: 32px;
			padding-top: 3px;
			margin-bottom: 27px;

			font-size: 20px;

			&:before{
				position: absolute;
				left: -50px;
				top: 0;

				width: 32px;
				height: 32px;

				border: 4px solid #fff;

				content: '';
			}
			&_purple:before{
				background: #af3897;
			}
			&_yellow:before{
				background: #c7962c;
			}
			&_blue:before{
				background: #3e99b3;
			}
			&_red:before{
				background: #ef1c3f;
			}
		}
	}
	&__sources{
		padding-top: 154px;
		margin-left: 14px;

		color:#a3aaac;
		font-size: 19px;
		line-height: 26px;
		text-indent: -14px;
		@media (max-width: $breakpoint-lg) {
		   padding-top: 0;
	  	}
	}
	@media (max-width: 767px) {
	   display: none;
  	}
}
.scroll-pane .jsp{
	&VerticalBar{
		width: 2px;
	}
	&Drag{
		background: #5ea83e;

	}
	&Track{background: #fff;}
}