@import '../../_variable.scss';
.w-booking{
	min-height: 824px;
	margin-bottom: 10px;
	@media (max-width: 991px) {
	   min-height: 0;
  	}
	&__title{
		padding-top: 52px;
		padding-bottom: 30px;

		text-align: center;
		color: #fff;
		@media (max-width: $breakpoint-md) {
		   padding-top: 23px;
		   padding-bottom: 9px;
		}
	}
}

.list-sector{
	display: flex;
	item-align: center;
	justify-content: space-between;
	@media (max-width: $breakpoint-md) {
	   display: block;
	}
	@media (max-width: $breakpoint-lg) {
	   max-width: 600px;
	   margin: 0 auto;
	}
	&__item{
		width: 100%;
		max-width: 570px;

		margin-bottom: 30px;
		margin-right: 5px;
		margin-left: 5px;

		background: #fff;
		box-shadow: 0 0 10px rgba(0,0,0, .37);
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
	}
	&__header{
		height: 301px;

		background-size: cover;
		background-position: 50% 0;
		@media (max-width: 991px) {
		   height: 278px;
		}
	}
	&__title{
		padding-top: 43px;
		padding-bottom: 7px;

		color: #5ea83e;
		font-weight: bold;
		font-size: 30px;
		@media (max-width: 991px) {
		   padding-top: 23px;
		   padding-bottom: 0;

		   font-size: 25px;
		   line-height: 28px;
		}
		@media (min-width: 768px) and (max-width: 991px) {
			float: left;
		}
	}
	&__description{
		margin-bottom: 34px;

		font-size: 30px;
		color: #000;
		font-weight: normal;
		@media (max-width: 991px) {
		  	margin-bottom: 16px;

		  	font-size: 21px;
			line-height: 28px;
		}
		@media (min-width: 768px) and (max-width: 991px) {
			float: left;
			clear: both;
		}
	}
	&__content{
		padding: 0 50px 50px;
		overflow: hidden;
		text-align: center;
		@media (max-width: 991px) {
		   padding: 0 15px 20px;
		}
	}
	&__button {
		width: 100%;
		&s{
			@media (min-width: 768px) and (max-width: 991px) {
				float: right;
				margin-top: -27px;
			}
			
		}
	}
	& .owl-prev, & .owl-next{
		position: absolute;
		top: 110px;

		width: 62px;
		height: 62px;

		font-size: 0;

		background: url(../../../../web/img/booking/arrow-slider.png);
	}
	& .owl-prev{
		left: 15px;
	}
	& .owl-next{
		right: 15px;

		transform: rotate(180deg);
	}
}