.w-land-selection {
  position: relative;
  max-width: 1898px;
  margin: 0 auto;
  color: #fff;
  &__wrapper {
    margin: 10px 0;
    background: #5ea83e url(../../../../web/img/land-selection/land-selection-bg.jpg) no-repeat center center/ cover;
  }
  &__filter {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin-right: 45px;
    padding-top: 48px;
    background-color: rgba(0, 0, 0, 0.57);
    .h3 .arrow {
      display: none;
    }
    &-content {
      display: block;
      padding-bottom: 35px;
    }
    &-btn {
      display: block;
    }
    &-line {
      margin: 0 0 21px;
      padding: 2px 20px 1px 91px;
      &_next-section {
        margin-top: 34px;
      }
    }
    &-highlighting {
      display: block;
      font-weight: bold;
      color: #ef1c3f;
    }
  }
  &__checkbox {
    position: relative;
    display: block;
    &-input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    &-label {
      position: relative;
      min-height: 38px;
      margin-bottom: 0;
      padding-left: 49px;
      font-size: 20px;
      line-height: 1.4;
      &_1:before {
        background-color: #67714f;
      }
      &_2:before {
        background-color: #adb222;
      }
      &_3:before {
        background-color: #c2441d;
      }
      &:before {
        content: '';
        position: absolute;
        top: 6px;
        left: 0;
        height: 31px;
        width: 31px;
        border: 3px solid #fff;
        transition: border-color .3s ease;
      }
    }
    .w-land-selection__checkbox-input:checked ~ .w-land-selection__checkbox-label:after {
      content: '';
      position: absolute;
      top: 15px;
      left: 9px;
      width: 13px;
      height: 8px;
      border-left: 3px solid #fff;
      border-bottom: 3px solid #fff;
      transform: rotate(-45deg);
    }
    .w-land-selection__checkbox-input:checked ~ .w-land-selection__checkbox-label:before {
      border-color: #ef1c3f;
    }
  }
  &__content {
    margin-left: -38px;
    padding-top: 66px;
    font-size: 20px;
  }
  &__arrow {
    position: relative;
    display: block;
    width: 176px;
    max-width: 80%;
    height: 123px;
    margin: 12px 0 20px 15.8%;
    background: url(../../../../web/img/land-selection/land-selection__arrow.png) no-repeat 0 0/ contain;
  }
  &__btn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    max-width: 368px;
    margin: 0;
    padding: 82px 0;
  }
}
/*media*/
@media(max-width: 1855px) {
  .w-land-selection__filter {
    margin-right: 0;
  }
  .w-land-selection__content {
    margin-left: 0;
  }
  .w-land-selection__filter-line {
    padding-left: 70px;
  }
}
@media(max-width: 1599px) {
  .w-land-selection__filter-line {
    padding-left: 54px;
  }
}
@media(max-width: 1439px) {
  .w-land-selection__btn {
    justify-content: flex-start;
  }
}
@media(max-width: 1199px) {
  .w-land-selection__filter {
    margin-right: -28px;
    padding: 30px 0 0;
    .h3 {
      margin-top: 3px;
      margin-bottom: 15px;
    }
    .button_2 {
      padding: 28px 10px 20px;
      font-size: 21px;
    }
  }
  .w-land-selection__filter-line {
    padding-left: 34px;
  }
  .w-land-selection__filter-content {
    padding-bottom: 18px;
  }
  .w-land-selection__btn {
    padding: 41px 2px 3px 78px;
    .button {
      font-size: 20px;
      padding: 23px 11px 18px;
    }
  }
}
@media(min-width: 768px) and (max-width: 992px){
  .w-land-selection__filter-btn{
    font-size: 20px;
    padding: 26px 10px 22px;
  }
}
@media(max-width: 767px) {
  .w-land-selection__filter {
    margin: 0 -15px;
    .h3 .arrow {
      display: inline-block;
      cursor: pointer;
    }
  }
  .w-land-selection__filter-collapse {
    display: none;
  }
  .w-land-selection__filter-content {
    padding-bottom: 12px;
  }
  .w-land-selection__btn {
    padding: 21px 2px 373px;
  }
  .w-land-selection__filter-btn_2 {
    margin: 0 -15px;
    padding: 28px 2px 22px;
    font-size: 21px;
  }
}
/*media*/