.w-reasons {
  position: relative;
  max-width: 1900px;
  margin: 0 auto;
  color: #fff;
  &__wrapper {
    margin: 10px 0;
    padding: 62px 0 0;
    background: #29481b url(../../../../web/img/reasons/reasons-bg.jpg) no-repeat center center /cover;
  }
  &__h3 {
    margin: 24px 0 32px;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;
    color: #a0ed7e;
    &_2 {
      margin-bottom: 7px;
      color: #fff;
    }
  }
  &-features {
    margin: 29px 0 27px;
    &__item {
      display: inline-block;
      width: 88px;
      margin: 0 42px 17px 4px;
      font-size: 18px;
      line-height: 1.1;
      text-align: center;
      vertical-align: top;
      &-img {
        display: inline-block;
        width: 88px;
        height: 79px;
        margin-bottom: 17px;
        line-height: 79px;
        text-align: center;
        vertical-align: middle;
        background-color: #ef1c3f;
      }
    }
  }
  &__p {
    margin-bottom: 49px;
    font-size: 22px;
    line-height: 1.3;
  }
  &__wrapper-2 {
    padding: 37px 0 64px;
    background-color: rgba(0, 0, 0, 0.57);
  }
  &__col-1 {
    flex: 0 0 55.5%;
    max-width: 55.5%;
  }
  &__col-2 {
    flex: 0 0 44.5%;
    max-width: 44.5%;
  }
  &__form-group {
    margin-bottom: 22px;
  }
  &__form-control {
    padding: 11px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    font-size: 17px;
    color: #fff;
    &,
    &:hover,
    &:active,
    &:focus,
    &:visited {
      background-color: transparent;
    }
    &::placeholder {
      color: #fff;
    }
  }
  &__checkbox {
    position: relative;
    display: block;
    margin-top: 39px;
    opacity: .9;
    &-input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    &-label {
      position: relative;
      min-height: 38px;
      margin-bottom: 0;
      padding-left: 37px;
      padding-top: 7px;
      font-size: 16px;
      line-height: 1.4;
      &:before {
        content: '';
        position: absolute;
        top: 6px;
        left: 0;
        height: 20px;
        width: 20px;
        border: 2px solid #fff;
        background-color: #fff;
        transition: border-color .3s ease;
      }
    }
    .w-reasons__checkbox-input:checked ~ .w-reasons__checkbox-label:after {
      content: '';
      position: absolute;
      top: 12px;
      left: 5px;
      width: 10px;
      height: 6px;
      border-left: 2px solid #000;
      border-bottom: 2px solid #000;
      transform: rotate(-45deg);
    }
    .w-reasons__checkbox-input:checked ~ .w-reasons__checkbox-label:before {
      border-color: #eee;
    }
  }
  .button_2{
    margin-top: 20px;
  }
}
/*media*/
@media(max-width: 1439px) {
  .w-reasons{
    text-align: center;
    .button_2{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .w-reasons__p{
    margin-top: 41px;
    text-align: left;
  }
  .w-reasons__h3 b{
    display: block;
  }
}
@media(max-width: 1199px) {
  .w-reasons__wrapper{
    padding-top: 24px;
  }
  .w-reasons__h3 {
    margin: 8px 0 19px;
    font-size: 22px;
  }
  .w-reasons-features {
    margin: 20px 0 27px;
    text-align: center;
  }
  .w-reasons-features__item-img {
    width: 67px;
    height: 61px;
    margin-bottom: 11px;
    line-height: 61px;
  }
  .w-reasons-features__item {
    display: inline-block;
    width: 88px;
    margin: 0 6px 17px;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    vertical-align: top;
  }
  .w-reasons__p {
    margin-top: 8px;
    margin-bottom: 30px;
    font-size: 20px;
  }
  .w-reasons__col-1{
    max-width: 58%;
    flex: 0 0 58%;
    .w-reasons__h3{
      margin: -5px 38px 23px;
      line-height: 1.4;
    }
    .w-reasons__p {
      margin-top: 13px;
      font-size: 19px;
    }
    .w-ul{
      max-width: 301px;
      line-height: 1.3;
    }
    .w-li{
      margin-bottom: 15px;
    }
  }
  .w-reasons__col-2{
    max-width: 42%;
    flex: 0 0 42%;
    .w-reasons__h3{
      margin: -5px 0 10px;
      font-size: 26px;
      line-height: 1.35;
    }
    .button_green_sm{
      margin-top: 30px;;
    }
    .w-reasons__form-control{
      text-align: center;
    }
    .w-reasons__checkbox{
      margin: -3px auto -1px;
      max-width: 213px;
    }
    .w-reasons__checkbox-label{
      padding-left: 0;
    }
  }
  .w-reasons__wrapper-2{
    padding-bottom: 42px;
  }
}
@media(max-width: 767px) {
  .w-reasons .h2 b{
    display: block;
  }
  .w-reasons .h2{
    margin: 0px 4px 8px;
    line-height: 1.3;
  }
  .w-reasons__h3 {
    margin: 11px 21px 10px;
    font-size: 23px;
    line-height: 1.1;
  }
  .w-reasons-features{
    margin-bottom: 18px;
    padding: 7px 2px 13px;
    background-color: #ef1c3f;
  }
  .w-reasons-features__item {
    margin: 9px 22px 5px;
    font-size: 19px;
  }
  .w-reasons__col-1,
  .w-reasons__col-2{
    max-width: 100%;
    flex-basis: 100%;
  }
  .w-reasons__p {
    margin-top: 20px;
    margin-bottom: 22px;
    font-size: 19px;
    line-height: 1.4;
  }
  .w-reasons__col-1 .w-reasons__h3{
    margin: -13px -2px 17px;
    font-size: 16px;
    line-height: 1.6;
  }
  .w-reasons__col-1 .w-ul{
    margin-bottom: 5px;
  }
  .w-reasons__col-1 .w-reasons__p{
    line-height: 1.3;
  }
  .w-reasons__col-2 .w-reasons__h3 {
    margin: 26px 0 10px;
  }
  .w-reasons__wrapper-2 {
    padding-bottom: 32px;
  }
}
/*media*/