@font-face {
  font-family: 'FuturaPT';
  src: url('FuturaPT-Heavy.eot');
  src: url('FuturaPT-Heavy.woff2') format('woff2'),
  url('FuturaPT-Heavy.woff') format('woff'),
  url('FuturaPT-Heavy.ttf') format('truetype'),
  url('FuturaPT-Heavy.svg#FuturaPT-Heavy') format('svg'),
  url('FuturaPT-Heavy.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaPT';
  src: url('FuturaPT-Bold.eot');
  src: url('FuturaPT-Bold.woff2') format('woff2'),
  url('FuturaPT-Bold.woff') format('woff'),
  url('FuturaPT-Bold.ttf') format('truetype'),
  url('FuturaPT-Bold.svg#FuturaPT-Bold') format('svg'),
  url('FuturaPT-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaPT';
  src: url('FuturaPT-Medium.eot');
  src: url('FuturaPT-Medium.woff2') format('woff2'),
  url('FuturaPT-Medium.woff') format('woff'),
  url('FuturaPT-Medium.ttf') format('truetype'),
  url('FuturaPT-Medium.svg#FuturaPT-Medium') format('svg'),
  url('FuturaPT-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaPT';
  src: url('FuturaPT-Book.eot');
  src: url('FuturaPT-Book.woff2') format('woff2'),
  url('FuturaPT-Book.woff') format('woff'),
  url('FuturaPT-Book.ttf') format('truetype'),
  url('FuturaPT-Book.svg#FuturaPT-Book') format('svg'),
  url('FuturaPT-Book.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaPT';
  src: url('FuturaPT-Light.eot');
  src: url('FuturaPT-Light.woff2') format('woff2'),
  url('FuturaPT-Light.woff') format('woff'),
  url('FuturaPT-Light.ttf') format('truetype'),
  url('FuturaPT-Light.svg#FuturaPT-Light') format('svg'),
  url('FuturaPT-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPTCond';
  src: url('FuturaPTCond-ExtraBold.eot');
  src: url('FuturaPTCond-ExtraBold.woff2') format('woff2'),
  url('FuturaPTCond-ExtraBold.woff') format('woff'),
  url('FuturaPTCond-ExtraBold.ttf') format('truetype'),
  url('FuturaPTCond-ExtraBold.svg#FuturaPTCond-ExtraBold') format('svg'),
  url('FuturaPTCond-ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaPTCond';
  src: url('FuturaPTCond-Medium.eot');
  src: url('FuturaPTCond-Medium.woff2') format('woff2'),
  url('FuturaPTCond-Medium.woff') format('woff'),
  url('FuturaPTCond-Medium.ttf') format('truetype'),
  url('FuturaPTCond-Medium.svg#FuturaPTCond-Medium') format('svg'),
  url('FuturaPTCond-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futuris';
  src: url('Futuris-Bold.eot');
  src: url('Futuris-Bold.woff2') format('woff2'),
  url('Futuris-Bold.woff') format('woff'),
  url('Futuris-Bold.ttf') format('truetype'),
  url('Futuris-Bold.svg#Futuris-Bold') format('svg'),
  url('Futuris-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Futuris';
  src: url('FuturisCyrillic.eot');
  src: url('FuturisCyrillic.woff2') format('woff2'),
  url('FuturisCyrillic.woff') format('woff'),
  url('FuturisCyrillic.ttf') format('truetype'),
  url('FuturisCyrillic.svg#FuturisCyrillic') format('svg'),
  url('FuturisCyrillic.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBookC';
  src: url('FuturaBookC.eot');
  src: url('FuturaBookC.woff2') format('woff2'),
  url('FuturaBookC.woff') format('woff'),
  url('FuturaBookC.ttf') format('truetype'),
  url('FuturaBookC.svg#FuturaBookC') format('svg'),
  url('FuturaBookC.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('SegoeUI-Light.eot');
  src: url('SegoeUI-Light.woff2') format('woff2'),
  url('SegoeUI-Light.woff') format('woff'),
  url('SegoeUI-Light.ttf') format('truetype'),
  url('SegoeUI-Light.svg#SegoeUI-Light') format('svg'),
  url('SegoeUI-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}



