.w-header {
  position: relative;
  max-width: 1898px;
  margin: 0 auto;
  padding: 23px 0 24px;
  &__logo {
    position: relative;
    z-index: 10;
    display: block;
    width: 160px;
    margin: 0 0 -114px;
  }
  &__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin: 0 66px 2px;
    &-a {
      position: relative;
      display: inline-block;
      margin: 0 27px 0 2px;
      padding: 26px 1px 2px;
      font-size: 17px;
      font-weight: 700;
      text-transform: uppercase;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 17px;
        height: 5px;
        background-color: #ef1b3e;
        transition: background-color .3s ease;
      }
      &:hover:before {
        background-color: #6eb051;
      }
    }
  }
  &__info {
    display: block;
    margin: 0 61px 0;
    line-height: 1.4;
  }
  &__tel {
    display: inline-block;
    padding: 2px;
    margin: 0 -4px 8px 0;
    font-size: 27px;
  }
}
/*media*/
@media(max-width: 1855px) {
  .w-header__info {
    margin: 0;
  }
  .w-header__nav {
    margin-right: 0;
  }
  .w-header__nav-a {
    margin-right: 18px;
  }
}
@media(max-width: 1599px) {
  .w-header__tel {
    margin: 0;
    font-size: 24px;
  }
  .w-header__nav-a {
    margin-right: 7px;
    margin-left: 7px;
    font-size: 16px;
  }
}
@media(max-width: 1439px) {
  .w-header {
    margin: 0;
    padding: 22px 0 10px;
    .navbar-toggler {
      display: inline-block;
      padding: 0;
      border: none;
      &,
      &:hover,
      &:active,
      &:focus{
        outline: none;
      }
    }
  }
  .w-header__logo {
    margin: -11px -14px 0 5px;
    width: 60px;
  }
  .w-header__tel {
    margin-top: 13px;
    font-size: 22.4px;
  }
  .w-header__nav.collapse.show{
    display: block!important;
  }
  .w-header__nav{
    margin: 0 -15px;
    padding: 0;
    &-a{
      display: block;
      margin: 0 0 -1px;
      padding: 15px;
      border-top:1px solid #ededed;
      border-bottom:1px solid #ededed;
      &:before{
        bottom: 0;
        height: 100%;
        width: 8px;
      }
    }
  }
}
/*media*/